
/* Styles go here */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #7c0503;
}

.card {
  font-size: 200px;
  margin-top:0.005px;
  margin-bottom: 1px;
  font-family: "Lucida Console", Monaco, monospace;
  margin-left: 30px;
}

.text {
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
}

.button {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 16px;
  background-color: #d1d1d1; 
  color: black;
  width: 130px;
  height: 40px;
  margin: 10px;
  opacity: 0.85;
}

.button:hover {
  opacity: 5 ;
}

.buttonHolder{ 
  text-align: center; }

.big {
  font-size: 20px;
  margin-bottom: -30px;
}

.title {
  font-size: 30px;
}

.welcome {
  font-size: 25px;
}
